* {
  box-sizing: border-box;
}

body {
  width: 450px;
  padding: 1rem;
  outline: 1px solid silver;
  position: relative;
}

.App {
  padding-top: 3rem;
}

.ConnectionSetup .Reset {
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin: 0;
  width: auto;
}

.AppTitle {
  position: absolute;
  left: 1rem;
  top: 1rem;
  margin: 0;
}

.StepOption {
  display: block;
  color: blue;
  border-bottom: 1px dashed blue;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.StepOption h1,
.StepOption h2,
.StepOption h3 {
  margin: 0;
}
