
.EmojiButton.roleChosen {
  border-color: purple;
  color: purple;
}

.EmojiBlock {
  font-size: 0.65rem;
  border: 0.1rem solid blue;
  max-height: 5rem;
  overflow: scroll;
}

.Button {
  padding: 0.5rem 0.75rem;
}

.Button,
.EmojiBlock,
.OfferTextarea {
  background-color: transparent;
  border: 0.1rem solid blue;
  font-size: 1rem;
  color: blue;
  display: inline-block;
  width: 100%;
}

.OfferTextarea {
  border: 0.25rem solid blue;
  height: 5rem;
  font-size: 0.75rem;
}

.OfferTextarea:focus {
  border: 0.25rem solid purple;
}
